# Git configuration file for user
# Copy it to ~/.gitconfig to use it (C:\Users\<user_name>\.gitconfig on Windows)
[user]
	name = # Your Name - example: John Doe
	email = # Your Email - example: john.doe@gmail.com
[pull]
	rebase = true
[core]
	editor = code --wait
[gui]
	gcwarning = false
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[credential]
	helper = store
